* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #2a2f3c;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 45px;
}

main {
  padding: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.header {
  background-color: #2b2e3c;
  box-shadow: 1px 1px 5px 0px var(--grey);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  display: inline-block;
  font-size: 60px;
  margin-left: 10px;
}

a .logo {
  width: 200px;
  margin: 10px 10px 1px 10px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #2b2e3c;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu a {
  display: block;
  padding: 26px;
  color: #ffffff;
}

.menu a:hover {
  background-color: #3d4155;
}

.seleccionado {
  background-color: #1d202c;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: #f9f9f9;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 1000px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .hamb {
    display: none;
  }
}

table {
  width: 100%;
  position: relative;
}

th {
  background: #495381;
  border: none;
  color: #ffffff;
  padding: 10px;
}

td {
  padding: 10px;
}

tr:hover {
  background-color: #cacddd;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 35px;
  }

  tr:hover {
    background-color: transparent;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #d3e5e7;
  }

  td {
    border: none;
    border-bottom: 1px solid #c3caca;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "#"; }
  td:nth-of-type(2):before { content: "Código"; }
  td:nth-of-type(3):before { content: "Especialidad"; }
  td:nth-of-type(4):before { content: "Fecha"; }
  td:nth-of-type(5):before { content: "Hora"; }
  td:nth-of-type(6):before { content: "Laboratorio"; }
  td:nth-of-type(7):before { content: "Estado"; }
  td:nth-of-type(8):before { content: "Acciones"; }

  form .buscador div {
    width: 90%;
    margin: 10px 20px 15px 0;
  }

  form .buscador .filtro .box {
    width: 80%;
  }

  form .buscador input {
    margin-left: 20px;
  }

  .modalbox {
    width: 60%;
  }
}

.buscador {
  margin: 25px 0;
  width: 100%;
  display: flex;
}

.buscador .filtro,
.buscador .filtro .box {
  font-size: 17.5px;
  margin-left: 17px;
}

.buscador .filtro .box {
  outline: none;
  border: none;
  border-bottom: 2px solid #2b2e3c;
  width: 420px;
  padding-left: 5px;
}

.modal {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2b2e3cb2;
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modalbox {
  width: 500px;
  overflow: hidden;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  transition: all 500ms ease-in;
}

.modal-scroll {
  overflow-y: auto;
  padding-right: 10px;
  flex: 1;
}

.modal:target .movedown {
  margin: 1% auto;
}

.modal h2,
.modal p,
.modal .botones {
  margin: 10px;
}

.modal .botones {
  text-align: right;
}

.btn_aceptar {
  background: #0ea500;
  padding: 8px;
  border-radius: 5px;
  margin: 2px;
  color: #f9f9f9;
}

.btn_aceptar:hover {
  background: #3bd82c;
}

.btn_cancelar {
  background: #ff1e00;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  color: #f9f9f9;
}

.btn_cancelar:hover {
  background: #ff4026;
}

.btn_ver {
  background: #0d9700;
  color: #f9f9f9;
  padding: 3px 43px;
  border-radius: 7px;
  margin: 2px;
}

.btn_ver:hover {
  background: #11ca00;
}

.btn_reprog {
  background: #ad4e00;
  color: #f9f9f9;
  padding: 3px 8px;
  border-radius: 7px;
  margin: 2px;
}

.btn_reprog:hover {
  background: #d66000;
}

.btn_cobrar {
  background: #01306e;
  color: #f9f9f9;
  padding: 3px 30px;
  border-radius: 7px;
  margin: 2px;
}

.btn_cobrar:hover {
  background: #0053be;
}

.btn_derivar {
  background: #8f4101;
  color: #f9f9f9;
  padding: 3px 30px;
  border-radius: 7px;
  margin: 2px;
}

.btn_derivar:hover {
  background: #c05600;
}

.btn_finalizar {
  background: #800060;
  color: #f9f9f9;
  padding: 3px 25px;
  border-radius: 7px;
  margin: 2px;
}

.btn_finalizar:hover {
  background: #c50094;
}

.botones .btn_reprog {
  padding: 8px;
}

.btn_pagar {
  background: #31580d;
  color: #f9f9f9;
  padding: 8px;
  border-radius: 7px;
  margin: 2px;
}

.btn_pagar:hover {
  background: #4f970b;
}

.formulario_ver {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2px;
}

.campo-grupo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.campo-grupo label {
  width: 150px;
  font-weight: bold;
  color: #000000;
}

.campo-grupo input,
.campo-grupo textarea {
  flex: 1;
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f4fafd;
  color: #333;
  resize: none;
}

textarea {
  height: 100px;
}
